@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
    font-family: 'Ubuntu',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    /*--blue: #2c50ef;*/
    --blue:#263550;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --lightwhite: #f0f4fe;
}

body{
    min-height: 100vh;
    overflow-x: hidden;

}

.container{
    position: relative;
    width: 100%;
}

/*logo*/
.logo{
    height: 115px;
}
.logo img{
    height: 106px;
    width: 240px;

}
.navigation{
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active{
    width: 80px;
}

.navigation ul{
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered{
    background: var(--white);
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a{
    color: var(--blue);
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon{
    font-size: 1.75em;
}

/*.navigation ul li:nth-child(1){
    margin-bottom: 40px;
}*/

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

/*shop on off toggle button*/
.stoggle{
    position: absolute;
    /* top: 50%; */
    margin-top: 114px;
    left: 40%;
    transform: translate(-50%,-50%)
  }
  
  .stoggle-btn{
    width: 68px;
    height: 36px;
    background: gray;
    border-radius: 30px;
    padding: 5px;
    transition: all 300ms ease-in-out 0s;
    cursor: pointer;
  }
  
  .stoggle-btn > .inner-circle{
    width: 20px;
    height: 24px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    transition: all 300ms ease-in-out 0s;
    cursor: pointer;
  }
  
  .stoggle-btn.active{
    background:#00acee;
  }
  
  .stoggle-btn.active > .inner-circle{
  margin-left:40px;
  }


/*maiin*/
.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background-color: var(--white);
    transition: 0.5s;
}

.main.active{
    width: calc(100% - 80px);
    left: 80px;
}

.topbar{
    width:100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle{
    position: relative;
    top:0;
    width: 60px;
    height: 60px;
    /*background-color: #ccc;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.search{
    position: relative;
    width: 400px;
    margin: 10px;
}
.search label{
    position: relative;
    width: 100%;
}
.search label input{
    width:100%;
    height: 40px;
    border-radius: 5px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}

.search label ion-icon{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}

.buttons{
    display: flex;
}

.filterbtn{
    height:45px;
    width: 100px;
    background-color: var(--lightwhite);
    justify-content: center;
    align-items: center;
    color: var(--blue);
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    border: 0px;
}

.btn ion-icon{
    margin-right: 5px;
}

/*cards*/

.cardBox{
    /*position: relative;*/
    width: 100%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    
}

.cardBox .card{
    border-radius: 10px;
    /*position: relative;*/
    background-color: var(--white);
    padding: 30px;
    /*display: flex;*/
    justify-content: space-between;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    max-height: 620px;
    overflow: auto;
}

.cardBox .card .cardName{
    font-size: 20px;
    font-weight: bold;
    color: var(--black1);
}

.incard{
    /*height: 500px;*/
    /*width: 300px;*/
    background-color: var(--white);
    border-radius: 6px;
    margin-top: 10px;
    border: 2px solid #f3f3f3;
    overflow: auto;
}

hr{
    height: 1px;
    background-color: #ccc;
    border: none;
}

.user{
    display: flex;
}
.user img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px 10px 10px 10px;

}
.details{
    color: var(--black2);
}
.uname{
    padding-top: 15px;
}
.ostatus{
    color: var(--black1);
    position: relative;
    margin-left: 60px;
    padding-top: 20px;
}
.fitems{
    display: flex;
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 50%;
    /*overflow: hidden;*/
    cursor: pointer;
    padding: 10px 0 5px 10px;
    /*justify-content: space-between;*/
    align-items: center; 
}
.uin{
    display: flex;
}
.fitems img{
    /*position: absolute;*/
    /*top: 0;
    left: 0;*/
    width: 15%;
    height: 100%;
    border-radius: 10px;
}
.foname{
    margin-left: 10px;
    margin-right: 20px;
    color: var(--black2);
}
.finside{
    /*position: fixed;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    float: left;
    margin-left: 3%;
    height: 100%;
}
/*.x1{
    position: relative;
    right: 0px;
}*/

.totalprice{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.ctotalprice{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}
.total{
    padding-left: 7px;
}
.price{
    padding-right: 7px;
}

.cancelbtn{
    background-color: var(--lightwhite);
    height: 40px;
    width: 80px;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    border:0px;
    font-weight: bold;
    font-size: 15px;
    color: var(--blue);
}

.acceptbtn{
    background-color: var(--blue);
    height: 40px;
    width: 80px;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    border:0px;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.markasdone{
    background-color: #29bd6b;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    border:0px;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.totalbutton{
    float:right;
    margin-bottom: 10px;
}
.x1{
    color: var(--black2);
}

/*scroll bar*/

::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px grey;*/ 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--black2); 
    border-radius: 10px;
  }
  

  /*responsive*/

  @media(max-width:1024px){
      .navigation{
          left: -300px;
      }
      .navigation.active{
          width: 300px;
          left: 0;
      }
      .main{
          width: 100%;
          left: 0;
      }
      .main.active{
          left: 300px;
      }
      .cardBox{
          grid-template-columns: repeat(2,1fr);
      }
  }
@media(max-width:760px){
    .navigation{
        left: -300px;
    }
    .navigation.active{
        width: 300px;
        left: 0;
    }
    .main{
        width: 100%;
        left: 0;
    }
    .main.active{
        left: 300px;
    }
    .cardBox{
        grid-template-columns: repeat(1,1fr);
    }
}